.button-pink {
    background-color: $primary-text-color;
    color: $fourth-text-color;
    border-radius: 22px;
    cursor: pointer;
    border: transparent;
    padding: 10px 37px;

    font-family: $secondary-font-family;
    font-style: normal;
    font-weight: 700;
    font-size: 16px;
    line-height: 1.31;

    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);

    &:hover {
        background-color: #C7133E;
    }

}

.button-white {
    background-color: $fourth-text-color;
    color: $primary-text-color;
    border-radius: 22px;
    cursor: pointer;
    border: transparent;
    padding: 10px 37px;

    font-family: $secondary-font-family;
    font-style: normal;
    font-weight: 700;
    font-size: 16px;
    line-height: 1.31;

    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);

    &:hover {
        background-color: #ECEBEB;
    }

}
.button-normal {
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 1.28;

}