.container {
    padding-left: 20px;
    padding-right: 20px;
    margin-left: auto;
    margin-right: auto;

@media screen and (min-width: 480px) {
    width: 480px;
    }

@media screen and (min-width: 768px) {
    width: 768px;
    padding-left: 36px;
    padding-right: 36px;    
    }

@media screen and (min-width: 1280px) {
    width: 1050px;
    }
}