/*
 * Главный файл стилей.
 * Все паршалы подключаются сюда.
 */

// Стили для файла с примером HTML-фрагмента
@import './Utility/variables';
@import './Utility/visually-hidden';
@import './base/reset';
@import './base/body';
@import './base/container';
@import './base/section';
@import './base/btn';
@import './header/header';
@import './components/hero';
@import './components/products';
@import './components/about';
@import './components/advantages';
@import './components/customer-reviews';
@import './components/gallery';
@import './components/contacts';
@import './footer/footer';
