.footer {
  background-color: $first-section-background-color;
}
.footer-networks {
  display: flex;
  margin-bottom: 46px;
}
.footer-networks__item:not(:last-child) {
  margin-right: 28px;
}
.footer-networks__icon {
  width: 32px;
  height: 32px;
  fill: #fea5bb;
  transition: fill 250ms linear;
}
.footer-networks__link:hover .footer-networks__icon,
.footer-networks__link:focus .footer-networks__icon {
  fill: $primary-text-color;
}
.footer-contacts {
  font-family: $secondary-font-family;
  font-weight: 700;
  font-size: 12px;
  line-height: 1.86;
  color: $fifth-text-color;
}
.footer-contacts-link {
  font-family: $secondary-font-family;
  font-weight: 700;
  font-size: 12px;
  line-height: 1.86;
  color: $primary-text-color;
}
.footer-copy {
  font-family: $secondary-font-family;
  font-weight: 700;
  font-size: 14px;
  line-height: 1.52;
  text-align: center;
  color: $third-text-color;
  padding-top: 22px;
}
.footer-wrapper {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  @media (min-width: 1280px) {
    justify-content: space-between;
  }
}
.footer-box {
  margin-bottom: 43px;
  @media (min-width: 768px) {
    display: flex;
    justify-content: space-between;
    margin-bottom: 91px;
  }
}
.title-wrap {
  margin-bottom: 43px;
  display: inline-block;
  width: 234px;
  @media (min-width: 768px) {
    margin-bottom: 0px;
  }
  @media (min-width: 1280px) {
    width: 50%;
  }
}
.contacts-wrap {
  display: inline-flex;
}
.section-border {
  border-bottom: 1px solid #e1e1e1;
}
.footer-wrap__correct {
  text-align: left;
}
.footer-wrap__correct:nth-child(2) {
  @media (min-width: 768px) {
    letter-spacing: 0.06em;
  }
}
.footer-wrap__correct:not(:last-child) {
  margin-bottom: 17px;
}
