.footer {
  background-color: #fff5f6;
}

.footer-box-wrap__text {
  font-family: 'Titan One', cursive;
  font-style: normal;
  font-weight: 500;
  font-size: 18px;
  line-height: 1.17;
  text-transform: uppercase;
  color: $secondary-text-color;
  margin-bottom: 15px;
}

.footer-box-wrap__title {
  font-family: $primary-font-family;
  font-style: normal;
  font-weight: 500;
  font-size: 34px;
  line-height: 1.15;
  letter-spacing: 0.04em;
  text-transform: uppercase;
  color: $primary-text-color;
}
.footer-networks {
  display: flex;
  margin-left: 130px;
  margin-bottom: 25px;
}

.footer-networks__item {
  width: 32px;
  height: 32px;
}

.footer-networks__item:not(:last-child) {
  margin-right: 28px;
}

.footer-networks__icon {
  width: 18px;
  height: 18px;
  fill: $secondary-text-color;
  transition: fill var(--time) var(--main-function);
}

.footer-networks__link:hover .footer-networks__icon,
.footer-networks__link:focus .footer-networks__icon {
  fill: $primary-text-color;
}

.footer-contacts {
  display: inline-block;
  font-family: $secondary-font-family;
  font-weight: 700;
  font-size: 12px;
  line-height: 1.86;
  color: #000000;
  margin-left: 35px;
}
.footer-contacts-link {
  display: inline-block;
  font-family: $secondary-font-family;
  font-weight: 700;
  font-size: 12px;
  line-height: 1.86;
  color: $primary-text-color;
  margin-bottom: 43px;
}

.footer-copy {
  font-family: $secondary-font-family;
  font-weight: 700;
  font-size: 14px;
  line-height: 1.52;
  text-align: center;
  color: $third-text-color;
}

.footer-box-networks-contacts {
  display: inline-block;
}

.footer-box {
  @media (min-width: 768px) {
    display: flex;
    justify-content: space-between;
  }
}
.footer-box-wrap {
  width: 234px;
  margin-bottom: 43px;
  @media (min-width: 1280px) {
    width: 100%;
  }
}
