<section class="section about__bg">
    <p class="section__subtitle ">tradition and love </p>
    <h2 id="about" class="section__title about__title">how it’s made?</h2>
    <div class="container about">

        <div class="about__box">
            <div class="about__img">
                <img srcset="./images/about/aboutcow.png 1x, ./images/about/aboutcow@2x.png 2x " src="./images/about/aboutcow.png " alt="cow "></srcset>
            </div>
            <div class="about__description ">
                <p class="about__text ">Fusce ut velit laoreet, tempus arcu eu, molestie tortor. Nam vel justo cursus, faucibus lorem eget, egestas eros. Maecenas eleifend erat at justo fringilla.</p>
                <p class="about__text ">Curabitur lacinia enim at ex blandit, vel pellentesque odio elementum. Mauris rhoncus orci in imperdiet placerat. Vestibulum euismod nisl suscipit ligula volutpat, a feugiat urna maximus. Cras massa nibh, tincidunt.
                </p>
                <p class="about__text ">Aliquam erat volutpat. Aenean accumsan.</p>
                <button type="button" class="button-white about__button">Read more
                <img class="about__button-icon" src="./images/about/vector.svg " alt="vector">
              
                </button>
            </div>
        </div>
    </div>
</section>