<section class="section">
    <div class="container about">
        <p class="section__subtitle">tradition and love </p>
        <h2 class="section__title">how it’s made?</h2>
        <div class="about__box">
            <!--пока что демку впихнул-->
            <img src="#" alt="cow">
            <div class="about__description">
                <p class="about__text">Fusce ut velit laoreet, tempus arcu eu, molestie tortor. Nam vel justo cursus, faucibus lorem eget, egestas eros. Maecenas eleifend erat at justo fringilla.</p>
                <p class="about__text">Curabitur lacinia enim at ex blandit, vel pellentesque odio elementum. Mauris rhoncus orci in imperdiet placerat. Vestibulum euismod nisl suscipit ligula volutpat, a feugiat urna maximus. Cras massa nibh, tincidunt.
                </p>
                <p class="about__text">Aliquam erat volutpat. Aenean accumsan.</p>
                <button type="button" class="about__button">Read more
                <!--касаемо этого элемента есть вопросы, это svg или что? -->
                <svg class="about__button--icon" width="5" height="8">
                        <use href="#"></use>
                    </svg></button>
            </div>
        </div>
    </div>
   </section>