<section class="advantages">
    <h1 class="vissually-hidden">advantages</h1>
    <div class="container advantages__container">
        <ul class="advantages_list">
            <li class="advantages__item">721
                <p class="item__content">Aliquam ac dui vel dui vulputate consectetur. Mauris massa.</p>
            </li>
            <li class="advantages__item">16kg
                <p class="item__content">Aliquam ac dui vel dui vulputate consectetur. Mauris massa.</p>
            </li>
            <li class="advantages__item">84
                <p class="item__content">Aliquam ac dui vel dui vulputate consectetur. Mauris massa.</p>
            </li>
        </ul>    
    </div>
</section>