<section class="advantages">
    <h1 class="visually-hidden">advantages</h1>
    <div class="container advantages__container">
        <ul class="advantages__list ">
            <li class="advantages__item item__iconfirst">721
                <p class="item__content ">Aliquam ac dui vel dui vulputate consectetur. Mauris massa.</p>
            </li>
            <li class="advantages__item item__iconsecond">16kg
                <p class="item__content">Aliquam ac dui vel dui vulputate consectetur. Mauris massa.</p>
            </li>
            <li class="advantages__item item__iconthird">84
                <p class="item__content">Aliquam ac dui vel dui vulputate consectetur. Mauris massa.</p>
            </li>
        </ul>
    </div>
</section>