<section id="contacts" class="section contacts-section">
  <div class="container">
    <h2 class="visually-hidden">Контакти</h2>
    <ul class="contacts">
      <li class="contacts__item">
        <p class="contacts__categories">CAFE</p>
        <h3 class="contacts__tittle">Chicago</h3>
        <p class="contacts__subscribe">Fusce ut velit laoreet, tempus arcu molestie vulputate</p>
        <ul class="contacts-shedule">
          <li class="contacts-shedule__item">
            <p class="contacts-day">
              Monday - Friday <span class="contacts-time">06:00 AM - 10:00 PM</span>
            </p>
          </li>
          <li class="contacts-shedule__item">
            <p class="contacts-day">
              Saturday - Sunday <span class="contacts-time">08:00 AM - 16:00 PM</span>
            </p>
          </li>
        </ul>
        <ul class="contacts-address">
          <li class="contacts-address__item">
            <a class="contacts-address__link" href="tel:+610383766284">+61(0) 383 766 284 </a>
          </li>
          <li class="contacts-address__item">
            <a class="contacts-address__link" href="mailto:noreply@envato.com"
              >noreply@envato.com</a
            >
          </li>
        </ul>
      </li>
      <li class="contacts__item">
        <p class="contacts__categories contacts__categories--green">FOODTRUCK</p>
        <h3 class="contacts__tittle">Los Angeles</h3>
        <p class="contacts__subscribe">Fusce ut velit laoreet, tempus arcu molestie vulputate</p>
        <ul class="contacts-shedule">
          <li class="contacts-shedule__item">
            <p class="contacts-day">
              Monday - Friday <span class="contacts-time">06:00 AM - 10:00 PM</span>
            </p>
          </li>
          <li class="contacts-shedule__item">
            <p class="contacts-day">
              Saturday - Sunday <span class="contacts-time">08:00 AM - 16:00 PM</span>
            </p>
          </li>
        </ul>
        <ul class="contacts-address">
          <li class="contacts-address__item">
            <a class="contacts-address__link" href="tel:+610383766284">+61(0) 383 766 284 </a>
          </li>
          <li class="contacts-address__item">
            <a class="contacts-address__link" href="mailto:noreply@envato.com"
              >noreply@envato.com</a
            >
          </li>
        </ul>
      </li>
      <li class="contacts__item">
        <p class="contacts__categories">CAFE</p>
        <h3 class="contacts__tittle">New York</h3>
        <p class="contacts__subscribe">Fusce ut velit laoreet, tempus arcu molestie vulputate</p>
        <ul class="contacts-shedule">
          <li class="contacts-shedule__item">
            <p class="contacts-day">
              Monday - Friday <span class="contacts-time">06:00 AM - 10:00 PM</span>
            </p>
          </li>
          <li class="contacts-shedule__item">
            <p class="contacts-day">
              Saturday - Sunday <span class="contacts-time">08:00 AM - 16:00 PM</span>
            </p>
          </li>
        </ul>
        <ul class="contacts-address">
          <li class="contacts-address__item">
            <a class="contacts-address__link" href="tel:+610383766284">+61(0) 383 766 284 </a>
          </li>
          <li class="contacts-address__item">
            <a class="contacts-address__link" href="mailto:noreply@envato.com"
              >noreply@envato.com</a
            >
          </li>
        </ul>
      </li>
    </ul>
    <ul class="contact-buttons">
      <li class="contact-buttons__item">
        <button type="button" class="button-pink">
          Our Locations
          <svg class="button__icon" width="10" height="16" class="btn-icon">
            <use href="./images/sprite.svg#icon-vector"></use>
          </svg>
        </button>
      </li>
      <li class="contact-buttons__item">
        <button type="button" class="button-white button-white--long">
          Franchise
          <svg class="button__icon" width="10" height="16" class="btn-icon">
            <use href="./images/sprite.svg#icon-vector"></use>
          </svg>
        </button>
      </li>
    </ul>
  </div>
</section>
