<section class="section">
  <div class="container">
    <h2 class="visually-hidden">Контакти</h2>
    <ul class="contacts">
      <li class="contacts__item">
        <p class="contacts__categories">Cafe</p>
        <h3 class="contacts__tittle">Chicago</h3>
        <p class="contacts__subscribe">Fusce ut velit laoreet, tempus arcu molestie vulputate</p>
        <ul class="contacts-shedule">
          <li class="contacts-shedule__day">
            <p>Monday - Friday</p>
          </li>
          <li class="contacts-shedule__time"></li>
        </ul>
      </li>
      <li class="contacts__item">
        <p class="contacts__categories">Food Truck</p>
        <h3 class="contacts__tittle">Los Angeles</h3>
        <p class="contacts__subscribe">Fusce ut velit laoreet, tempus arcu molestie vulputate</p>
        <ul class="contacts-shedule">
          <li class="contacts-shedule__day">
            <p>Monday - Friday</p>
          </li>
          <li class="contacts-shedule__time"></li>
        </ul>
      </li>
      <li class="contacts__item">
        <p class="contacts__categories">Cafe</p>
        <h3 class="contacts__tittle">New York</h3>
        <p class="contacts__subscribe">Fusce ut velit laoreet, tempus arcu molestie vulputate</p>
        <ul class="contacts-shedule">
          <li class="contacts-shedule__day">
            <p>Monday - Friday</p>
          </li>
          <li class="contacts-shedule__time"></li>
        </ul>
      </li>
    </ul>
  </div>
</section>
