<section class="section">
  <div class="container">
    <h2 class="visually-hidden">Customer reviews</h2>

    <div class="slider">
      <article class="slider__item">
        <img
          class="slider__image"
          srcset="./images/customer/customer1.jpg 1x, ./images/customer/customer1@2x.jpg 2x"
          src="./images/customer/customer1.jpg"
          alt="Customer photo"
        />
        <div class="slider__box">
          <p class="slider__text">
            Nullam viverra consectetuer. Quisque cursus et, porttitor risus. Aliquam sem. In
            hendrerit nulla quam nunc, accumsan congue. Lorem ipsum primis in nibh vel risus.
          </p>
        </div>
        <span class="slider__name">Emily, Los Angeles</span>
      </article>
    </div>
  </div>
</section>
