<section class="section">
  <div class="container">
    <h2 class="visually-hidden">Customer reviews</h2>
    <div class="customer">
      <div class="customer__photo"><img src="./images/customer/customer1.jpg" alt="Customer photo" width="85" height="85"/></div>
      <div class="customer__photo"><img src="./images/customer/customer2.jpg" alt="Customer photo" width="85" height="85"/></div>
      <div class="customer__photo"><img src="./images/customer/customer3.jpg" alt="Customer photo" width="85" height="85"/></div>
    </div>
    <div class="customer-bloc">
      <p class="customer-bloc__text">
        Nullam viverra consectetuer. Quisque cursus et, porttitor risus. Aliquam sem. In hendrerit
        nulla quam nunc, accumsan congue. Lorem ipsum primis in nibh vel risus.
      </p>
    </div>
    <div class="customer-info">
      
      <p>Emily, Los Angeles</p>
    </div>
  </div>
</section>
