<section class="section section-customer">
  <div class="container">
    <h2 class="visually-hidden">Customer reviews</h2>
    <div class="customer">
      <div class="customer__photo"><img src="./images/customer/customer1.jpg" alt="Customer photo" width="85" height="85"/></div>
      <div class="customer__photo"><img src="./images/customer/customer2.jpg" alt="Customer photo" width="85" height="85"/></div>
      <div class="customer__photo"><img src="./images/customer/customer3.jpg" alt="Customer photo" width="85" height="85"/></div>
    </div>
    <div class="customer-bloc">
      <svg class="customer-bloc__icon" width="54" height="40" >
        <use href="./images/sprite.svg#untitled"></use>
      </svg>
      <p class="customer-bloc__text">
        Nullam viverra consectetuer. Quisque cursus et, porttitor risus. Aliquam sem. In hendrerit
        nulla quam nunc, accumsan congue. Lorem ipsum primis in nibh vel risus.
      </p>
    </div>
    <div class="customer-info">
      <span class="customer-info__decor">. . .</span>
      <p class="customer-info__text">Emily, Los Angeles</p>
      <div>
        <svg class="customer-info__icon" width="12" height="12" >
          <use href="./images/sprite.svg#home1"></use>
        </svg>
        <svg class="customer-info__icon" width="12" height="12" >
          <use href="./images/sprite.svg#Ellipse7"></use>
        </svg>
        <svg class="customer-info__icon" width="12" height="12" >
          <use href="./images/sprite.svg#Ellipse7"></use>
        </svg>

      </div>
    </div>
  </div>
</section>
