  <footer class="footer">
        <div class="container">
            <div class="box">
            <div class="box-wrap">
        <p class="footer-box__text">homemade ice cream made</p>
        <h2 class="footer-box__title"> with passion</h2>
        </div>
        <div class="footer-networks-contacts">
        <ul class="networks">
                <li class="networks__item">
                  <a
                    href="./index.html"
                    target="_blank"
                    rel="noopener noreferrer"
                    class="networks__link"
                  >
                    <svg class="networks__icon">
                      <use href="./images/sprite.svg#icon-github"></use>
                    </svg>
                  </a>
                </li>
                <li class="networks__item">
                  <a
                    href="./index.html"
                    target="_blank"
                    rel="noopener noreferrer"
                    class="networks__link"
                  >
                    <svg class="networks__icon">
                      <use href="./images/sprite.svg#icon-telegram"></use>
                    </svg>
                  </a>
                </li>
                <li class="networks__item">
                  <a
                    href="./index.html"
                    target="_blank"
                    rel="noopener noreferrer"
                    class="networks__link"
                  >
                    <svg class="networks__icon">
                      <use href="./images/sprite.svg#icon-facebook"></use>
                    </svg>
                  </a>
                </li>
              </ul>
                <p class="footer-contacts">Feel free to contact &nbsp</p><a class="link" href="tel:+380383766284"> +61 (0) 383 766 284</a>
            </div>
            </div>
                <p class="footer-down"> &copy 2019 - IceCream. <br>All Rights Reserved.</p>
        </div>
    </footer>
</body>
</html>