  <footer class="footer">
    <section class="section-border">
        <div class="container">
            <div class="footer-box border">
            <div class="title-wrap">
        <p class="section__subtitle title-wrap__edit">homemade ice cream  made</p>
        <p class="section__title title-wrap__edit"> with  passion</p>
        </div>
        <div class="footer-wrapper">
        <ul class="footer-networks">
                <li class="footer-networks__item">
                  <a
                    href="https://github.com/"
                    target="_blank"
                    rel="noopener noreferrer"
                    class="footer-networks__link"
                  >
                    <svg class="footer-networks__icon">
                      <use href="./images/sprite.svg#icon-github"></use>
                    </svg>
                  </a>
                </li>
                <li class="footer-networks__item">
                  <a
                    href="https://telegram.org/"
                    target="_blank"
                    rel="noopener noreferrer"
                    class="footer-networks__link"
                  >
                    <svg class="footer-networks__icon">
                      <use href="./images/sprite.svg#icon-telegram"></use>
                    </svg>
                  </a>
                </li>
                <li class="footer-networks__item">
                  <a
                    href="https://www.facebook.com/"
                    target="_blank"
                    rel="noopener noreferrer"
                    class="footer-networks__link"
                  >
                    <svg class="footer-networks__icon">
                      <use href="./images/sprite.svg#icon-facebook"></use>
                    </svg>
                  </a>
                </li>
              </ul>
              <div class="contacts-wrap">
                <p class="footer-contacts">Feel free to contact &nbsp</p><a class="footer-contacts-link" href="tel:+380383766284"> +61 (0) 383 766 284</a>
           </div>
              </div>
            </div>
        </div>
    </section>
    <p class="footer-copy"> &copy 2019 - IceCream. All Rights Reserved.</p>
    </footer>
</body>
</html>