<section class="section section--background">
  <div class="container">
    <h2 class="visually-hidden">Gallery</h2>
    <div class="gallery">
      <ul>
        <li class="gallery__item">
          <picture>
            <source srcset="./images/gallery/gallery4@1x.jpg 1x, ./images/gallery/gallery4@2x.jpg 2x">
            <img src="./images/gallery/gallery4@1x.jpg" alt="багато_морозива">
          </picture>
        </li>
        <li class="gallery__item">
          <picture>
            <source srcset="./images/gallery/gallery9@1x.jpg 1x, ./images/gallery/gallery9@2x.jpg 2x">
            <img src="./images/gallery/gallery9@1x.jpg" alt="мятне_морозиво">
          </picture>
        </li>
        <li class="gallery__item">
          <picture>
            <source srcset="./images/gallery/gallery1@1x.jpg 1x, ./images/gallery/gallery1@2x.jpg 2x">
            <img src="./images/gallery/gallery1@1x.jpg" alt="багато_морозива">
          </picture>
        </li>
        <li class="gallery__item">
          <picture>
            <source srcset="./images/gallery/gallery5@1x.jpg 1x, ./images/gallery/gallery5@2x.jpg 2x">
            <img src="./images/gallery/gallery5@1x.jpg" alt="шоколадне_морозиво">
          </picture>
        </li>
        <li class="gallery__item">
          <picture>
            <source srcset="./images/gallery/gallery2@1x.jpg 1x, ./images/gallery/gallery2@2x.jpg 2x">
            <img src="./images/gallery/gallery2@1x.jpg" alt="морозиво_в_руках">
          </picture>
        </li>
        <li class="gallery__item">
          </picture>
          <source srcset="./images/gallery/gallery3@1x.jpg 1x, ./images/gallery/gallery3@2x.jpg 2x">
          <img src="./images/gallery/gallery3@1x.jpg" alt="рожеве_морозиво">
          </picture>
        </li>
        <li class="gallery__item">
          <picture>
            <source srcset="./images/gallery/gallery7@1x.jpg 1x, ./images/gallery/gallery7@2x.jpg 2x">
            <img src="./images/gallery/gallery7@1x.jpg" alt="дитина_та_морозиво">
          </picture>
        </li>
        <li class="gallery__item">
          <picture>
            <source srcset="./images/gallery/gallery8@1x.jpg 1x, ./images/gallery/gallery8@2x.jpg 2x">
            <img src="./images/gallery/gallery8@1x.jpg" alt="фотка_морозива">
          </picture>
        </li>
        <li class="gallery__item">
          <picture>
            <source srcset="./images/gallery/gallery6@1x.jpg 1x, ./images/gallery/gallery6@2x.jpg 2x">
            <img src="./images/gallery/gallery6@1x.jpg" alt="ягідне_морозиво">
          </picture>
        </li>
      </ul>
    </div>
</section>