<section class="section section--background">
  <h2 class="visually-hidden">Gallery</h2>
  <div class="container">
    <div class="gallery">
      <ul>
        <li class="gallery__item"><img src="./images/gallery/3.jpg" alt=""></li>
        <li class="gallery__item"><img src="./images/gallery/1.jpg" alt=""></li>
        <li class="gallery__item"><img src="./images/gallery/2.jpg" alt=""></li>
        <li class="gallery__item"><img src="./images/gallery/5.jpg" alt=""></li>
        <li class="gallery__item"><img src="./images/gallery/6.jpg" alt=""></li>
        <li class="gallery__item"><img src="./images/gallery/7.jpg" alt=""></li>
        <li class="gallery__item"><img src="./images/gallery/8.jpg" alt=""></li>
        <li class="gallery__item"><img src="./images/gallery/9.jpg" alt=""></li>
        <li class="gallery__item"><img src="./images/gallery/4.jpg" alt=""></li>
      </ul>
    </div>
</section>