<section class="section section--background">
  <div class="container">
    <h2 class="visually-hidden">Gallery</h2>
    <div class="gallery">
      <ul>
        <li class="gallery__item">
          <picture>
            <source srcset="./images/gallery/gallery4.jpg 1x, ./images/gallery/gallery4@2x.jpg 2x">
            <img src="./images/gallery/gallery4.jpg" alt="багато_порозива">
          </picture>
        </li>
        <li class="gallery__item">
          <picture>
            <source srcset="./images/gallery/gallery9.jpg 1x, ./images/gallery/gallery9@2x.jpg 2x">
            <img src="./images/gallery/gallery9.jpg" alt="мятне_морозиво">
          </picture>
        </li>
        <li class="gallery__item">
          <picture>
            <source srcset="./images/gallery/gallery1.jpg 1x, ./images/gallery/gallery1@2x.jpg 2x">
            <img src="./images/gallery/gallery1.jpg" alt="багато_порозива">
          </picture>
        </li>
        <li class="gallery__item">
          <picture>
            <source srcset="./images/gallery/gallery5.jpg 1x, ./images/gallery/gallery5@2x.jpg 2x">
            <img src="./images/gallery/gallery5.jpg" alt="шоколадне_морозиво">
          </picture>
        </li>
        <li class="gallery__item">
          <picture>
            <source srcset="./images/gallery/gallery2.jpg 1x, ./images/gallery/gallery2@2x.jpg 2x">
            <img src="./images/gallery/gallery2.jpg" alt="морозиво_в_руках">
          </picture>
        </li>
        <li class="gallery__item">
          </picture>
          <source srcset="./images/gallery/gallery3.jpg 1x, ./images/gallery/gallery3@2x.jpg 2x">
          <img src="./images/gallery/gallery3.jpg" alt="розове_морозиво">
          </picture>
        </li>
        <li class="gallery__item">
          <picture>
            <source srcset="./images/gallery/gallery7.jpg 1x, ./images/gallery/gallery7@2x.jpg 2x">
            <img src="./images/gallery/gallery7.jpg" alt="дитина_та_морозиво">
          </picture>
        </li>
        <li class="gallery__item">
          <picture>
            <source srcset="./images/gallery/gallery8.jpg 1x, ./images/gallery/gallery8@2x.jpg 2x">
            <img src="./images/gallery/gallery8.jpg" alt="фотка_морозива">
          </picture>
        </li>
        <li class="gallery__item">
          <picture>
            <source srcset="./images/gallery/gallery6.jpg 1x, ./images/gallery/gallery6@2x.jpg 2x">
            <img src="./images/gallery/gallery6.jpg" alt="ягідне_морозиво">
          </picture>
        </li>
      </ul>
    </div>
</section>