<header class="header">
    <div class="header__container container">
        <a class="logo" href="">
            <picture>
                <source srcset="./images/header/logo.jpg 1x,
                ./images/header/logo@2x.jpg 2x">
                <img class="logo" src="./images/header/logo.jpg" alt="logo" width="199" height="50">
            </picture>
        </a>
        <nav class="nav js-menu-container" id="mobile-menu">
                <button class="mobile-menu__btn--close js-close-menu" type="button">
                    <svg width="14" height="14" aria-label="mobile menu toggle">
                        <use class="icon__close" href=""></use>
                    </svg>
                </button>
                <ul class="nav__list">
                    <li class="nav__item">
                        <a class="nav__link" href="">Home</a>
                    </li>
                    <li class="nav__item">
                        <a class="nav__link" href="">About us</a>
                    </li>
                    <li class="nav__item">
                        <a class="nav__link" href="">How it’s made?</a>
                    </li>
                    <li class="nav__item">
                        <a class="nav__link" href="">Our products</a>
                    </li>
                    <li class="nav__item">
                        <a class="nav__link" href="">Contact</a>
                    </li>
                </ul>
                <button class="nav__btn button-white" type="button">
                    Buy now
                    <!-- <svg class="btn-icon">
                        <use href=""></use>
                    </svg> -->
                </button>
        </nav>
        <button class="mobile-menu__btn js-open-menu" type="button" aria-expanded="false" aria-controls="mobile-menu">
            <svg class="icon__menu" width="20" height="12"  aria-label="mobile menu toggle">
                <use href=""></use>
            </svg>
        </button>
    </div>
</header>