<header class="header"  id="home">
    
    <div class="header__container">
        
        <a class="logo" href="">
            <picture>
                <source srcset="./images/header/logo.png 1x,
                ./images/header/logo@2x.png 2x">
                <img class="" src="./images/header/logo.png" alt="logo" width="199" height="50">
            </picture>
        </a>

        <nav class="nav js-menu-container" id="mobile-menu">
                <button class="nav__btn-close js-close-menu" type="button">
                    <svg width="28" height="28" aria-label="mobile menu toggle">
                        <use class="icon__close" href="./images/sprite.svg#icon-mob-menu--close"></use>
                    </svg>
                </button>
                <button class="nav__btn-modal button-white" type="button">
                    Buy now
                    <svg class="button__icon" width="10" height="16" class="btn-icon">
                        <use href="./images/sprite.svg#icon-vector"></use>
                    </svg>
                </button>
                <ul class="nav__list">
                    <li class="nav__item">
                        <a class="nav__link" href="#home">Home</a>
                    </li>
                    <li class="nav__item">
                        <a class="nav__link" href="#gallery">About us</a>
                    </li>
                    <li class="nav__item">
                        <a class="nav__link" href="#about">How it’s made?</a>
                    </li>
                    <li class="nav__item">
                        <a class="nav__link" href="#products">Our products</a>
                    </li>
                    <li class="nav__item">
                        <a class="nav__link" href="#contact">Contact</a>
                    </li>
                </ul>
        </nav>

        <button class="header__btn-menu js-open-menu" type="button" aria-expanded="false" aria-controls="mobile-menu">
            <svg class="icon__menu" width="20" height="12"  aria-label="mobile menu toggle">
                <use href="./images/sprite.svg#icon-burger"></use>
            </svg>
        </button>

        <button class="header__btn-modal button-white" type="button">
            Buy now
            <svg class="button__icon" width="10" height="10" class="btn-icon">
                <use href="./images/sprite.svg#icon-vector"></use>
            </svg>
        </button>

    </div>
</header>