<section class="hero">
    <div class="container">
        <div class="hero__container">
            <h1 class="hero__title">ice cream made with
                <span class="hero__title--accent">passion</span>
            </h1>
            <ul class="hero__list">
                <li class="hero__item">
                    16
                    <p class="hero__aftertext">cafes</p>
                </li>
                <li class="hero__item">
                    23
                    <p class="hero__aftertext">food trucks</p>
                </li>
            </ul>
        </div>
        <button class="hero__btn button-pink" type="button">
            <a href="#products" class="hero__link" href="#products">Products</a>
        </button>
        <button class="hero__btn button-white" type="button">
            <a href="#about" class="hero__link" href="#about">How it’s made?</a>
        </button>
        <p class="hero__text">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt
            ut labore et</p>
        <button class="hero__btn-text">
            <svg width="8" height="8" class="hero__btn--more">
                <use href="./images/sprite.svg#icon-arrowright"></use>
            </svg>
        </button>
    </div>
</section>