<section class="hero">
    <div class="container">
        <h1 class="hero__title">ice cream made with
            <span>passion</span>
        </h1>
        <ul class="hero__list">
            <li class="hero__item">
                16
                <p class="hero__aftertext">cafes</p>    
            </li>
            <li class="hero__item">
                23
                <p class="hero__aftertext">food trucks</p>
            </li>
        </ul>
        <a href="" class="hero__link" href="#products">Products</a>
        <a href="" class="hero__link" href="#about">How it’s made?</a>
        <p class="hero__text">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et</p>
        <button class="hero__btn">
            <svg class="hero__btn--more">
                <use href=""></use>
            </svg>
        </button>
    </div>
    
</section>