<section class="hero">
    <div class="container">
        <div class="hero__container">
            <h1 class="hero__title">ice cream made with
                <span class="hero__title--accent">passion</span>
            </h1>
            <ul class="hero__list">
                <li class="hero__item">
                    16
                    <p class="hero__aftertext">cafes</p>
                </li>
                <li class="hero__item">
                    23
                    <p class="hero__aftertext">food trucks</p>
                </li>
            </ul>
        </div>
        <button class="hero__btn button-pink" type="button">
            <a class="hero__link" href="#products">Products</a>
        </button>
        <button class="hero__btn button-white" type="button">
            <a class="hero__link" href="#about">How it’s made?</a>
        </button>
        <p class="hero__text">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt
            ut labore et</p>
        <button class="hero__btn-text">
            <svg width="8" height="8" class="hero__btn--more">
                <use href="./images/sprite.svg#icon-arrowright"></use>
            </svg>
        </button>
        <picture class="hero__img hero__img--jug">
            <source srcset="./images/hero/jugofmilk__desktop.png 1x, 
            ./images/hero/jugofmilk__desktop@2x.png 2x"
            media="(min-width: 1280px)">
            <source srcset="./images/hero/jugofmilk__tablet.png 1x,
            ./images/hero/jugofmilk__tablet@2x.png 2x"
            media="(min-width: 768px)">
            <img src="./images/hero/jugofmilk__desktop.png" alt="jug of milk"
                sizes="(min-width: 1280px) 188px, (min-width: 768px) 124px" width="188">
        </picture>
        <picture class="hero__img hero__img--icecream">
            <source srcset="./images/hero/icecream__desktop.png 1x, 
                        ./images/hero/icecream__desktop@2x.png 2x" 
                        media="(min-width: 1280px)">
            <source srcset="./images/hero/icecream__tablet.png 1x,
                        ./images/hero/icecream__tablet@2x.png 2x" 
                        media="(min-width: 768px)">
            <source srcset="./images/hero/icecream__mobile.png 1x,
            ./images/hero/icecream__mobile@2x.png 2x">
            <img src="./images/hero/icecream__desktop.png" alt="icecream"
                sizes="(min-width: 1280px) 236px, (min-width: 768px) 143px, 171px">
        </picture>
        <picture class="hero__img hero__img--girl">
            <source srcset="./images/hero/girl__desktop.png 1x, 
                                    ./images/hero/girl__desktop@2x.png 2x" 
                                    media="(min-width: 1280px)">
            <source srcset="./images/hero/girl__tablet.png 1x,
                                    ./images/hero/girl__tablet@2x.png 2x" 
                                    media="(min-width: 768px)">
            <img src="./images/hero/girl__desktop.png" alt="girl in a swimsuit licks ice cream"
                width="(min-width: 1280px) 188px, (min-width: 768px) 124px">
        </picture>
    </div>
   
</section>