<div class="backdrop is-hidden" data-modal>
  <div class="modal">
    <button type="button" class="modal__btn-close" data-modal-close>
      <svg class="btn-close__icon" width="18" height="18">
        <use href="./images/sprite.svg#icon-close"></use>
      </svg>
    </button>

    <form action="#" class="modal__form">
      <b class="modal__title">Leave your details, we will call you back</b>
      <ul class="modal__list">
        <li class="modal__item">
          <label for="form-name" class="modal__label">Name</label>
          <span class="modal__wrap">
            <input type="text" class="modal__input" id="form-name" placeholder=" ">
            <svg class="modal__icon" width="18" height="18">
              <use href="./images/sprite.svg#icon-person"></use>
            </svg>
          </span>
        </li>
        <li class="modal__item">
          <label for="form-tel" class="modal__label">Telephone</label>
          <span class="modal__wrap">
            <input type="tel" class="modal__input" id="form-tel" placeholder=" ">
            <svg class="modal__icon" width="18" height="18">
              <use href="./images/sprite.svg#icon-phone"></use>
            </svg>
          </span>
        </li>
        <li class="modal__item">
          <label for="form-email" class="modal__label">Mail</label>
          <span class="modal__wrap">
            <input type="email" class="modal__input" id="form-email" placeholder=" ">
            <svg class="modal__icon" width="18" height="18">
              <use href="./images/sprite.svg#icon-email"></use>
            </svg>
          </span>
        </li>
        <li class="modal__item">
          <label for="comment" class="modal__label">Comment</label>
          <textarea name="modal-comment" class="modal__comment modal__wrap" id="comment"
            placeholder="Введите текст"></textarea>
        </li>
      </ul>
      <div class="modal__checkbox">
        <input type="checkbox" id="check" name="policy" class="visually-hidden checkbox">
        <label for="check" class="check__label">
          <span class="check__icon">
            <svg width="11" height="8">
              <use href="./images/sprite.svg#icon-check"></use>
            </svg>
          </span>
          I agree to the newsletter and accept <a href="" class="check__policy-link">franchise</a></label>
      </div>
      <button type="submit" class="modal__btn button-pink">Send</button>
    </form>
  </div>
</div>