<section class="section">
    <div class="container products">
        <p class="section__subtitle">100% natural</p>
        <h2 class="section__title">PRODUCTS</h2>
        <ul class="products__list">
            <li class="products__item products__ice-cream">
                <h3 class="products__title">ICE CREAM</h3>
                <p class="products__text">Lorem ipsum dolor sit amet consectetur adipisicing elit. Dicta similique eum
                    ad. Reprehenderit odit vero illo!</p>
                <button type="button" class="products__button"><svg class="arrow-right" width="20" height="20" viewBox="0 0 32 32">
                        <title>arrow-right2</title>
                        <path
                            d="M19.414 27.414l10-10c0.781-0.781 0.781-2.047 0-2.828l-10-10c-0.781-0.781-2.047-0.781-2.828 0s-0.781 2.047 0 2.828l6.586 6.586h-19.172c-1.105 0-2 0.895-2 2s0.895 2 2 2h19.172l-6.586 6.586c-0.39 0.39-0.586 0.902-0.586 1.414s0.195 1.024 0.586 1.414c0.781 0.781 2.047 0.781 2.828 0z">
                        </path>
                    </svg></button>
            </li>
            <li class="products__item products__ice-coffe">
                <h3 class="products__title">ICE COFFE</h3>
                <p class="products__text">Lorem ipsum dolor sit amet consectetur adipisicing elit. Dicta similique eum
                    ad. Reprehenderit odit vero illo!
                </p>
                <button type="button" class="products__button"><svg class="arrow-right" width="20" height="20" viewBox="0 0 32 32">
                        <title>arrow-right2</title>
                        <path
                            d="M19.414 27.414l10-10c0.781-0.781 0.781-2.047 0-2.828l-10-10c-0.781-0.781-2.047-0.781-2.828 0s-0.781 2.047 0 2.828l6.586 6.586h-19.172c-1.105 0-2 0.895-2 2s0.895 2 2 2h19.172l-6.586 6.586c-0.39 0.39-0.586 0.902-0.586 1.414s0.195 1.024 0.586 1.414c0.781 0.781 2.047 0.781 2.828 0z">
                        </path>
                    </svg></button>
            </li>
            <li class="products__item  products__milkshaces">
                <h3 class="products__title">MILKSHACES</h3>
                <p class="products__text">Lorem ipsum dolor sit amet consectetur adipisicing elit. Dicta similique eum
                    ad. Reprehenderit odit vero illo!
                </p>
                <button type="button" class="products__button">
                    <svg class="arrow-right" width="20" height="20" viewBox="0 0 32 32">
                        <title>arrow-right2</title>
                        <path
                            d="M19.414 27.414l10-10c0.781-0.781 0.781-2.047 0-2.828l-10-10c-0.781-0.781-2.047-0.781-2.828 0s-0.781 2.047 0 2.828l6.586 6.586h-19.172c-1.105 0-2 0.895-2 2s0.895 2 2 2h19.172l-6.586 6.586c-0.39 0.39-0.586 0.902-0.586 1.414s0.195 1.024 0.586 1.414c0.781 0.781 2.047 0.781 2.828 0z">
                        </path>
                    </svg>
                    <!-- <svg>
                    <use href='../images/products/arrow-right.svg'></use>
                </svg> -->
            </button>
            </li>
        </ul>
    </div>
</section>