<section class="section">
    <div class="container products">
        <p class="title-pre-text">100% natural</p>
        <h2 class="section-title">PRODUCTS</h2>
        <ul class="products__list">
            <li class="products__item">
                <h3 class="products__title">ICE CREAM</h3>
                <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Dicta similique eum ad. Reprehenderit odit vero illo!</p>
                <button type="button" class="products__button"></button>
            </li>
            <li class="products__item">
                <h3 class="products__title">ICE COFFE</h3>
                <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Dicta similique eum ad. Reprehenderit odit vero illo!
                </p>
                <button type="button" class="products__button"></button>
            </li>
            <li class="products__item">
                <h3 class="products__title">MILKSHACES</h3>
                <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Dicta similique eum ad. Reprehenderit odit vero illo!
                </p>
                <button type="button" class="products__button"></button>
            </li>
        </ul>
    </div>
</section>