:root {
  $primaryTextColor: #D41443;
  $secondaryTextColor: #FFA5BA;
  $accentTextColor: #907E82;
  $backgroundHeaderColor: #FFB8CA;
  $backgroundSectionColor: #FFF5F6;
  $whiteColor: #FFFFFF;
  $blackColor: #000000;
}