:root {
  --primary-text-color: #D41443;
  --secondary-text-colot: #FFA5BA;
  --accent-text-color: #907E82;
  --background-header-color: #FFB8CA;
  --background-section-color: #FFF5F6;
  --white-color: #FFFFFF;
  --black-color: #000000;
}

body {
  font-family: 'DM Sans', sans-serif;
  font-size: 16px;
  letter-spacing: 0.04em;
}