.contacts-section {
  background-color: $first-section-background-color;
  padding-top: 0;
  @media screen and(min-width: 1280px) {
    background-image: url('../images/contacts/contacts.png');
    background-size: 100% auto;
    background-repeat: no-repeat;
    background-position: top;
    @media (min-device-pixel-ratio: 2), (min-resolution: 192dpi), (min-resolution: 2dppx) {
      background-image: url('../images/contacts/contacts@2x.png');
    }
  }
}
.contacts {
  margin-bottom: 54px;
  position: relative;
  bottom: 84px;
  @media screen and (min-width: 768px) {
    display: flex;
    margin: -10px;
    bottom: 78px;
  }
  @media screen and (min-width: 1280px) {
    display: flex;
    margin: -15px;
    bottom: 102px;
  }
}
.contacts__item {
  padding: 40px 20px;
  background: $fourth-text-color;
  box-shadow: 0px 8px 30px rgba(212, 20, 67, 0.1);
  border-radius: 24px;
  @media screen and(max-width:767px) {
    &:not(:last-child) {
      margin-bottom: 20px;
    }
  }
  @media screen and (min-width: 768px) {
    flex-basis: calc((100% - 60px) / 3);
    margin: 10px;
    padding: 40px 30px;
  }
  @media screen and (min-width: 1280px) {
    flex-basis: calc((100% - 90px) / 3);
    margin: 15px;
    padding: 50px 45px 60px 45px;
  }
}
.contacts__categories {
  display: inline-block;
  font-family: $secondary-font-family;
  font-weight: 500;
  font-size: 12px;
  line-height: 1.86;
  text-align: center;
  letter-spacing: 0.04em;
  margin-bottom: 30px;
  background: #f0d1a5;
  color: $fourth-text-color;
  border-radius: 6px;
  padding: 8px 16px;
  @media screen and (min-width: 768px) {
    font-size: 16px;
    margin-bottom: 40px;
  }
}
.contacts__categories--green {
  background: #c2e297;
}

.contacts__tittle {
  margin-bottom: 10px;
  font-family: $secondary-font-family;
  font-size: 12px;
  font-weight: 500;
  line-height: 1.86;
  letter-spacing: 0.04em;
  color: $fifth-text-color;
  @media screen and (min-width: 768px) {
    font-size: 14px;
  }
  @media screen and (min-width: 1280px) {
    font-size: 16px;
  }
}
.contacts__subscribe {
  margin-bottom: 60px;
  position: relative;
  display: block;
  font-size: 12px;
  color: $third-text-color;
  font-family: $secondary-font-family;
  font-weight: 500;
  line-height: 1.66;
  @media screen and (min-width: 768px) {
    font-size: 14px;
  }
  @media screen and (min-width: 1280px) {
    font-size: 16px;
  }
  &::after {
    content: '';
    position: absolute;
    display: block;
    width: 100%;
    top: calc(100% + 30px);
    border: 1px solid #e1e1e1;
  }
}
.contacts-shedule {
  margin-bottom: 60px;
  position: relative;
  display: block;
  &::after {
    content: '';
    position: absolute;
    display: block;
    width: 100%;
    top: calc(100% + 30px);
    border: 1px solid #e1e1e1;
  }
}
.contacts-shedule__item {
  &:not(:last-child) {
    margin-bottom: 20px;
  }
}
.contacts-day {
  font-family: $secondary-font-family;
  font-size: 12px;
  font-weight: 500;
  line-height: 1.86;
  color: $fifth-text-color;
  @media screen and (min-width: 768px) {
    font-size: 14px;
  }
  @media screen and (min-width: 1280px) {
    font-size: 16px;
  }
}
.contacts-time {
  font-family: $secondary-font-family;
  font-size: 12px;
  font-weight: 500;
  line-height: 1.86;
  display: block;

  color: $secondary-text-color;
  @media screen and (min-width: 768px) {
    font-size: 14px;
  }
  @media screen and (min-width: 1280px) {
    font-size: 16px;
  }
}
.contacts-address__link {
  color: $third-text-color;
  font-family: $secondary-font-family;
  font-weight: 500;
  font-size: 12px;
  line-height: 1.5;
  @media screen and (min-width: 768px) {
    font-size: 14px;
  }
  @media screen and (min-width: 1280px) {
    font-size: 16px;
  }
}
.contact-buttons {
  display: flex;
  flex-direction: column;
  @media screen and (min-width: 768px) {
    flex-direction: unset;
    justify-content: center;
  }
}
.contact-buttons__item {
  display: flex;
  justify-content: center;
  margin-right: 15px;
  &:not(:last-child) {
    margin-bottom: 10px;
    @media screen and (min-width: 768px) {
      margin-bottom: 0;
    }
  }
  & .button-pink {
    padding: 10px 20px;
    @media screen and (min-width: 768px) {
      padding: 10px 33px;
    }
  }
}
.button-white--long {
  display: flex;
  align-items: center;
}
.button-pink {
  display: flex;
  align-items: center;
  .button__icon {
    fill: $fourth-text-color;
  }
}
